h1{
	color:darkred;
}
img{
	width:400px;
}
#thirdDiv{
	background-color:antiquewhite;
	height:600px;
	width:500px;
	padding:50px;
	border: 2px solid darkblue;			
}
#spanId{
	font-size:18px;
	margin:50px;
}